html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-color: black;
	margin: 0 0 0 0;
}

.background {
	z-index:-1;
	background-image: url("mainbg.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-color: black;
	position: relative;
}

nav {
	z-index: 1;
	color: white;
	background-color: #fefff7;
	display: block;
	width: 100%;
	height: 7%;
	position: fixed;
	bottom: 0;
	opacity: 0.8;
}

.logo {
	z-index: 2;
	background-image: url("logored_150px.png");
	background-size: auto;
	background-repeat: no-repeat;
	width: 22%;
	height: 20%;
	display: block;
	position: fixed;
	left: 4%;
	bottom: 0%;
}